<table class="table">
  <thead>
    <tr>
      <th>Meal</th>
      <th>Calories</th>
      <th>Time</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
	 <%= render meals %>
  </tbody>
</table>
