<div id="meals"><%= render partial: 'meals' %></div>
<div id="filters"><%= render partial: 'filters'%></div>

<script type="text/javascript">
$(function () {
	$('.date-picker').datetimepicker({
		pickTime: false
	});
});

$(function () {
	$('.time-picker').datetimepicker({
		pickDate: false,
		useSeconds: false
	});
});
</script>